body{
    margin : 0px;
    padding : 0px;
    background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    margin : 0px;
    display: inline-block;
}

#L:hover{
    cursor: context-menu;
}

.navbar ul{
    border-right: 3px;
    background-color: rgba(0, 0, 0, 0);
}

.navbar{

    display: inline-block;
    background-color: rgba(0, 0, 0, 0.726);
}

li{
    list-style: none;
    float: left;
    margin-right: 30px;    
    text-decoration: none;
}

#signin{
    margin-left: 615px;
}

.navbar ul li{
    color: cyan;
    margin-bottom: 10px;
    border : 11px solid rgba(255, 127, 80, 0);
}

.navbar ul li:hover{
    cursor: pointer;
    color: darkgrey;
   
}

a{
    text-decoration: none;
    color: cyan;
}

a:hover{
    color: darkgrey;
}
